.profesori-page-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profesori-page-buttons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%
}