.navbar-navlinks {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

}

.navbar-logo {
    flex-grow: 1;
    cursor: pointer;
}

.navbar-icons{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar-titleLink {
    text-decoration: none;
    color:white;
}

.navbar-link {
    border-bottom: 3px solid RGBA(0,0,0,0);
    text-decoration: none;
    color:white;
    font-size: 25px;
    &:hover {
        border-bottom: 2px solid white;
    }
    &:active {
        color:rgb(204, 203, 203);
        border-bottom: 2px solid rgb(204, 203, 203);
    }
}
  
