.sali-form {  
    display: grid;
    grid-gap: 20px;
    width: 75%;
    text-align: left;
}

.grid-sali {
    display: flex;
    justify-content: center;
}

.sali-form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}